n8n-workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const raw = $json.choices?.[0]?.message?.content || \"\";\n// Remove code fences like ```json ... ```\nconst cleaned = raw.replace(/```json|```/g, \"\").trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback structure if parsing fails\n  parsed = {\n    sentiment: {\n      positive: 0,\n      neutral: 0,\n      negative: 0\n    },\n    pros: [],\n    cons: [],\n    summary: \"\"\n  };\n}\n\n// Return parsed JSON only\nreturn [\n  {\n    json: parsed\n  }\n];\n"
      },
      "id": "eabf0cc1-3704-4a6c-a1f7-3d010b5e1651",
      "name": "Parse Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        -432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    model: \"openai/gpt-3.5-turbo\",\n    temperature: 0,\n    messages: [\n      {\n        role: \"system\",\n        content: \"Return ONLY valid JSON. No text outside JSON.\"\n      },\n      {\n        role: \"user\",\n        content: \"Analyze the following product review.\\n\\nReview:\\n\" + $json.reviews + \"\\n\\nTasks:\\n1. Calculate % positive, neutral, and negative sentiment (integer percentages)\\n2. Extract top 3 pros\\n3. Extract top 3 cons\\n4. Provide a short summary\\n\\nReturn JSON: {\\n  \\\"sentiment\\\": {\\n    \\\"positive\\\": 0,\\n    \\\"neutral\\\": 0,\\n    \\\"negative\\\": 0\\n  },\\n  \\\"pros\\\": [],\\n  \\\"cons\\\": [],\\n  \\\"summary\\\": \\\"\\\"\\n}\"\n      }\n    ]\n  }) \n}}",
        "options": {}
      },
      "id": "55a40ef3-a109-4a97-9792-7aba7aba3078",
      "name": "AI Analysis2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        48,
        -432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dbd71a3e-25cd-49b7-8af6-e725c8e764e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -432
      ],
      "id": "0e4aef4a-7693-4bf8-91b3-050e4b6b062d",
      "name": "Webhook",
      "webhookId": "dbd71a3e-25cd-49b7-8af6-e725c8e764e4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -592,
        -432
      ],
      "id": "0446f083-afaf-4fd4-be56-a65fc3b1d45c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sentiment\": {{$json.sentiment}},\n  \"pros\": \"{{$json.pros.join(', ')}}\",\n  \"cons\": \"{{$json.cons.join(', ')}}\",\n  \"summary\": \"{{$json.summary}}\",\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -432
      ],
      "id": "c73495fb-3029-4dfb-9034-c26e9f5e810e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        -432
      ],
      "id": "f4823c94-08bc-47f2-8dff-6b75c765ef37",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-3.5-turbo\",\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Return valid JSON only, no extra text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze the following text:\\n\\nText: {{$json.Text}}\\n\\nReturn JSON with this structure:\\n{\\n  \\\"entities\\\": [list of people, places, organizations, dates],\\n  \\\"sentiment\\\": { \\\"positive\\\": %, \\\"neutral\\\": %, \\\"negative\\\": % },\\n  \\\"pros\\\": [list of pros],\\n  \\\"cons\\\": [list of cons],\\n  \\\"readability_score\\\": number,\\n  \\\"style\\\": \\\"style description\\\",\\n  \\\"summary\\\": \\\"short summary\\\"\\n}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "4bb6d748-a03d-4116-a8e5-37c293b5671b",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        64,
        -208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "af969099-b90b-43e1-b65b-16f56be3ea59",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -208
      ],
      "id": "24094cfc-d36c-4921-9629-cdf316e14a6b",
      "name": "Webhook1",
      "webhookId": "af969099-b90b-43e1-b65b-16f56be3ea59"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        -208
      ],
      "id": "834045a4-abb7-4ce4-aa54-89da099968a6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\ntext:\"{{ $json.body.text }}\"\n}",
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -208
      ],
      "id": "a82f564b-ebb2-4922-8b91-5efb0ce95e31",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Each item has a .json property\nconst results = [];\n\nfor (const item of items) {\n  const raw = item.json.choices?.[0]?.message?.content || \"{}\";\n  try {\n    const parsed = JSON.parse(raw);\n    results.push({ json: parsed });\n  } catch (e) {\n    results.push({\n      json: {\n        entities: [],\n        sentiment: { positive: 0, neutral: 0, negative: 0 },\n        pros: [],\n        cons: [],\n        readability_score: 0,\n        style: \"\",\n        summary: \"\"\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -208
      ],
      "id": "cc62fc73-1c75-4a54-abd5-e55bbd6d2ba3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Check if the text field exists from your React app\n  if (item.json.text) {\n    // This finds all physical line breaks and safely replaces them with \\n\n    item.json.Text = item.json.text.replace(/\\r?\\n|\\r/g, '\\\\n');\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -208
      ],
      "id": "bfe2e68d-3a69-4245-b02f-70382bb3358d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Get a list of all column headers in this row\n  const allColumns = Object.keys(item.json);\n  \n  // If there is at least one column...\n  if (allColumns.length > 0) {\n    // Grab the name of the very first column (whatever it is!)\n    const firstColumnName = allColumns[0];\n    \n    // Create a new standard field called 'reviews' and copy the data into it\n    item.json.reviews = item.json[firstColumnName];\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -432
      ],
      "id": "6c758b44-d623-433a-b1c2-1752e35aa7ac",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "reviews"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -176,
        -432
      ],
      "id": "0abcd25c-8ab4-48eb-86e7-55d93b4773b1",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Output": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis2": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Analysis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11c07217-467b-46a1-989d-283ca606cc85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f8cf638b24d5db0e03d8902b9b94440605d65af973e7a64a1fb97480053f9b5"
  },
  "id": "MHMBv8HpBp7GPvSU",
  "tags": []
}